Flask==3.0.3
numpy>=1.26.0, <2.0.0
openpyxl==3.1.4
plotly==5.22.0
pywin32==306
xlwings==0.31.4
matplotlib>=3.9.0
pandas>=2.2.2
ruptures>=1.1.9
scikit-learn>=1.5.0
scipy>=1.23.5, <2.0.0
tensorflow-intel>=2.16.2
